
<header>
  <div class="container">
    <a href="#" class="logo" routerLink="/">MyLogo</a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/">Home</a>
        </li>
        <li>
          <a href="#" routerLink="/list">Breweries</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
   <router-outlet></router-outlet> 
</div>
