<h1>Welcome</h1>

<div class="play-container">
    <p>Event Binding & 1-way data binding</p>
    <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times. </p>
</div>

<div class="play-container">
    <p>2-way data binding</p>
    <p>
        <input type="text" name="name" [(ngModel)]="name"/>
        <br>
        <strong> You said: </strong> {{ name }}
    </p>
</div>

<div class="play-container">
    <p>Using ngIf & ngIfElse</p>
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The clickCounter is greater than 4</p>
    </ng-template>
    <ng-template #none>
        <p> The clickCounter is less than 4</p>
    </ng-template>
</div>

<div class="play-container" [ngStyle]="{
    'background-color': clickCounter > 4 ? 'blue' : 'lightgray',
    'border': clickCounter > 4 ? '4px solid black' : 'none'
    }">
    <p>Style binding</p>
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The clickCounter is greater than 4</p>
    </ng-template>
    <ng-template #none>
        <p> The clickCounter is less than 4</p>
    </ng-template>
</div>

<div class="play-container" [ngClass]="setClasses()">
    <p>Class binding</p>
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>The clickCounter is greater than 4</p>
    </ng-template>
    <ng-template #none>
        <p> The clickCounter is less than 4</p>
    </ng-template>
</div>